{% extends 'base_bootstrap.html' %}
{% block content %}
{% if fname %}
<h3>You are talking to {{fname}}</h3>
{% else %}
<h3>You are talking to a person without a name</h3>
{% endif %}
<p>
    <div id = "chatcontent">
        Loading some messages...
    </div>
</p>

<form method="post">
    {% csrf_token %}
    <label for="message">Write your message:</label>
    <input type='text' name = 'message' id = 'message' size="60"/>
    <input type = 'submit' value = 'Send'/>
    <input type = 'reset'  value="Reset"/>
    <a href="{% url 'logout' %}?next={% url 'kchat:talk' %}">Logout</a>
    </p>    
</form>
<p>You can return to the <a href="{% url 'kchat:talk' %}">main menu</a></p>
<script type="text/javascript">
    function updateMsg() {
        console.log('Requesting Json');
        $.getJSON("{% url 'kchat:privatemessage' pk %}" , function(rowz){
            console.log('JSON',rowz);
            $('#chatcontent').empty();
            for (var i = 0; i<rowz.length; i++){
                arow = rowz[i];
                $('#chatcontent').append('<p>'+ arow[0] + '<br/>' + arow[1] + "</p>\n");
            }
            setTimeout('updateMsg()', 1000);
        });
    }
    $(document).ready(function(){
        $.ajaxSetup({cache:false});
        updateMsg();
    });
</script>
{% endblock %}